@page  "/crear-persona"
@inject HttpClient Http
@inject IUriHelper UriHelper
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<h3>Crear Persona</h3>

<FormularioPersonas TextoBoton="Crear Persona" OnValidSubmit="@CrearPersona" Persona="@persona"></FormularioPersonas>

@code {

    Persona persona = new Persona();

    async Task CrearPersona()
    {
        await Http.PostJsonAsync("personas", persona);
        UriHelper.NavigateTo("indice-personas");
    }

}
